<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fact_e">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_facicon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_facicon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FactE">
        <activity
            android:name=".Views.FragmentContainer"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Views.login"
            android:exported="false"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.FactE.NoActionBar" />
        <activity
            android:name=".DataList"
            android:exported="true" />
        <activity
            android:name=".Views.Splash"
            android:exported="true"
            android:theme="@style/Theme.Material3.Light.NoActionBar">
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>